/* src/components/ConversorCard.css */

.conversor-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0fd53;
  border-radius: 8px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.conversor-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e0fd53;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  
}
 .input-value{
  width: calc(100% - 38px) !important ;
}
.input-group select,
.input-group input {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.converter_btn {
  width: 75%;
  padding: 10px;
  margin-top: 1em;
  font-size: 18px;
  font-weight:bolder;
  color: #1a1a1a;
  background-color: #e0fd53;
  border: 1px solid #eef0f1;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.5s, transform 0.3s, box-shadow 0.4s; /* Transición suave */
}

.converter_btn:hover {
  background-color: #eef0f1;
  font-size:large;
  transform: scale(1.1);
  border: none;
  box-shadow: 1px 3px 9px #e0fd53; 
}

.result-cals-container .result-cals-container-title {

  font-size: 1.3em;
}

.result-cals-container .cals-result-value {
  font-size: 1.4em;
  font-weight: bolder;
  color: #e0fd53;
  margin-bottom: 0;
 margin-top: 0;
}
