/* src/App.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  padding: 2rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background: url('./assets/images/IMG_20230315_000422.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: #fff; /* Asegúrate de que el texto sea visible sobre la imagen de fondo */
}

.card {
  background-color:none; 
  padding: 2em; /* Aumenta el padding para un mejor espacio */
  margin: 1em 0; /* Aumenta el margen entre tarjetas */
  width: 90%;
  max-width: 600px; /* Asegúrate de que las tarjetas no sean demasiado anchas */
}

/* Estilos para el botón de desplazamiento hacia arriba */
.scroll-to-top {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.7em; /* Ajusta el tamaño del ícono */
  color: #d0ff00; 
  transition: color 0.5s, transform 0.3s, box-shadow 0.4s; /* Transición suave */
}

.scroll-to-top:hover {
  color:  #b3a3a3; 
  transform: scale(1.2); /* Aumenta el tamaño del ícono */
  box-shadow: 0 0 8px #d0ff00; 
}


footer {
  margin-top: 5em; 
  padding: 2em 0;
  color: #b3a3a3; 
  background-color:none; 
  width: 100%;
  text-align:center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-the-docs {
  color: #888;
}

/* Estilos para el ícono de LinkedIn */
.icon {
  font-size: 1.5em; /* Tamaño del ícono */
  color: #d0ff00; 
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transición suave para el color, el tamaño y la sombra */
  margin-left: 9px;
  margin-top: 1px;
}

.icon:hover {
  color: #0073b1; 
  transform: scale(1.4); 
  box-shadow: 0 0 8px #0073b1; 
}

